<html lang="en" >

<head>
    <title>Thank You!</title>
  <meta charset="UTF-8">
  <title>Bootstrap 4 Thank You Page Template</title>
  <script src="https://bootstrapcreative.com/wp-bc/wp-content/themes/wp-bootstrap/codepen/bootstrapcreative.js?v=1"></script>
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css'>

  
  
</head>

<body>

  <div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
      <img src="/thankyou.png" width="250" height="250" alt="">

  <p class="lead"><strong>We have received your request.</p>
    <p class="lead">We will get in touch with you shortly.</p>

  <hr>
  <a href="/" class="btn btn-primary">Back To Home Page</a>
 
  

</body>

</html>